.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon-info {
  display: flex;
  gap: 15px;
}

.image {
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
}

.link {
  background-color: deepskyblue;
  padding: 5px;
  border-radius: 5px;
  margin: 15px;
}